[Unit]
Description=Install Jitsi
ConditionPathExists=!/etc/jitsi

[Service]
Type=oneshot
ExecStart=/root/jitsi-install.sh
Environment=JITSI_HOSTNAME=jitsi.example.com

[Install]
WantedBy=multi-user.target
